<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iDunnu -- @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/all.css" />
    <script type="text/javascript" src="~/Content/Dialog/js/bootstrap-dialog.js"></script>
    <link rel="stylesheet" href="~/Content/Dialog/css/bootstrap-dialog.min.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#regBtn').click(function () {
                BootstrapDialog.show({ message: $('<div></div>').load('@Url.Action("Register")') });
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">iDunno what to purchase!</a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="search" placeholder="Search" class="form-control glyphicon-search" />
                    </div>
                </div>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <input type="button" class="btn btn-success" id="regBtn" value="Register" />
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div id="register-form" title="Register account" style="display:none;">
        @Html.Partial("Register", new iDunno.Models.RegistrationScreen())
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
