@model iDunno.Models.HomeScreen
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_LayoutPage.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var coords = { Latitude: position.coords.latitude, Longitude: position.coords.longitude };
                $.get('/Home/Location?latitude=' + coords.Latitude + '&longitude=' + coords.Longitude);

            });
        }
    });

</script>

<h2>Product Search</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <label for="search"></label><input type="search" name="search" />
    <br />
    foreach(var et in Model.Items)
    {
        <br /><a href="@Url.Action("ViewProduct",new  { Id = et.Id })">@et.Description <img src="@et.ImgUrl" /></a>
    }


}